body{
    background-color: rgb(103,120,104);
}
table{
    background-color: rgb(103,120,104);
    border-right: 2px solid black;
}
tr{
    border:1px solid red;
    /*border-collapse:collapse;*/
}
td{
    width:11px;
    height:11px;
    border:3px solid rgb(88, 104, 88);
    box-shadow: 0px 0px 0px 3px rgb(103,120,104) inset;
    background-color: rgb(88, 104, 88);
}

.content{
    vertical-align:middle;
    display: flex;
    margin: 80px auto 0;
    width: 812px;
    border: 2px solid black;
}

#chessboard{

}

.content .left{
    width: 180px;
    margin-right: 10px;
}

.content .right{
    /*border: 1px solid black;*/
    width: 180px;
}

.rules{
    padding: 10px;
    border-bottom: 2px solid black;
}

.rules:last-child{
    border-bottom: 0;
}

.rules p{
    text-indent: 25px;
}

.rules .score{
    margin: 0 auto;
    display: block;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

